$orange: #BF4904;
$light-pink: #F2D1C9;

$dark-green: #2F402C;
$green: #466748;
$light-green: #BCBE8C;
$yellow: #F2D16D;
$dark-yellow: #D9B13B;

$dark-purple: #30244f;
$purple: #4D308C;
$light-purple: #AEAAE7;
$dark-blue: #33366b;
$light-blue: #b1c1f5;

$brown: #4C3235;
$dark: #261714;
$light: #F2EBC9;


body,
html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


// -------------------------
// BASICS
.main {
  // width: inherit;
  height: inherit;
}

.main-app {
  width: inherit;
  height: inherit;
  text-align: center;
}


p {
  margin-top: 20px;
}

a {
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: grey !important;
  border-color: grey !important;
}

img {
  width: 100%;
}

.img-logo {
  width: 70%;
}


// -------------------------
// Colors 
.easy {
  color: $light-purple;
}

.medium {
  color: $purple;
}

.hard {
  color: $dark-purple;
}

.easy-btn {
  background-color: $light-purple !important;
}

.medium-btn {
  background-color: $purple !important;
}

.hard-btn {
  background-color: $dark-purple !important;
}



// -------------------------
// Intro
.intro {
  padding: 3rem;
  width: inherit;
  height: inherit;
  position: relative;


  background-image: url('./img/main.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .logo {
    filter: brightness(0) invert(1) drop-shadow(0 3px 3px $dark-blue) drop-shadow(0 5px 10px $light-blue);
  }

  .dropshadow {
    filter: drop-shadow(0 5px 5px $dark-blue);
  }

  .bg {
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
  }

  .btn-start {
    display: flex;
    align-items: flex-end;
  }
}

// -------------------------
// Header
.header {
  padding-bottom: 2rem;

  a {
    color: grey;
    text-decoration: none;
  }
}

// -------------------------
// List Question
.list-questions {
  .score {
    font-size: large;
  }

  p.passed {
    background-color: $light-blue;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .active {
    background-color: $dark-blue;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .disable-links {
    pointer-events: none;

    a {
      color: grey;
      text-decoration: none;
    }
  }
}

// -------------------------
// Question
.question {
  color: $dark-purple;
}

.sm-question {
  padding: 0.2rem;
}

// -------------------------
// Answers
.answers {
  .result {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
  }

  .success-msg {
    color: #270;
    background-color: #DFF2BF;
  }

  .error-msg {
    color: #D8000C;
    background-color: #FFBABA;
  }

  .btn-ans {
    font-size: large;
  }

  .btn-res {
    a {
      color: black;
    }
  }
}